<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>Admin Area</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
  </head>

  <body>
    <div class="container">
        
        <h1>Login Successfull</h1>
        <form method="get" action="delete_handlebars">
       <button>Delete</button>
       </form>
       <form method="get" action="modify_handlebars">
       <button>Modify</button>
     </form> 
     <form method="get" action="View">
       <button>View</button>
     </form>
       
        
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>