<form method="post" action="/users/delete?_method=DELETE">
<div class= "form-group">
        <label>id</label>
        <input type="hidden" name="_method" value="DELETE">
        <input type ="text" class = "form-control" name = "id"  placeholder="id">
        <button type="submit">Submit</button>
</div>
    </form>