<html>
    <body>
        <h1>Login Successfull</h1>
    <h3>Please enter the details</h3>
        <form method="POST" action="/users/personal/details">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>University</label>
    <input type="text" class="form-control" placeholder="University" name="university">
  </div>
  <div class="form-group">
    <label>Branch</label>
    <input type="text" class="form-control" placeholder="Branch" name="branch">
  </div>
  <div class="form-group">
    <label>12 th percentage</label>
    <input type="text" class="form-control" placeholder="12 th Percentage" name="per_12">
  </div>
  <div class="form-group">
    <label>10 th Percentage</label>
    <input type="text" class="form-control" placeholder="10 th Percentage" name="per_10">
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
    </body>
</html>