<form action="/users/update?_method=PUT" method="post">
<div class= "form-group">
        <label>id</label>
        <input type="hidden" name="_method" value="PUT">
        <input type ="text" class = "form-control" name = "id"  placeholder="id">
        <input type ="text" class = "form-control" name = "username"  placeholder="username">
        <input type ="text" class = "form-control" name = "name"  placeholder="name">
        <button type="submit">Submit</button>
</div>
</form>