<form method="post" action="/users/personal/details/specific">
<div class= "form-group">
        <label>email</label>
        <input type ="text" class = "form-control" name = "email"  placeholder="email">
        <button type="submit">Submit</button>
</div>
    </form>